    .task-card { margin-bottom: 1rem; }
    body.dark-mode {
      background-color: #121212;
      color: #fff;
    }
    body.dark-mode .card {
      background-color: #2e2e2e;
      color: #fff;
    }
    .switch-container {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-bottom: 1rem;
    }
    .description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-line;
    }
    .description.expanded {
      -webkit-line-clamp: unset;
      max-height: none;
    }